@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600&display=swap');

.contact{
  height: 100%;
  width: 70%;
  display: block;
  margin: 3rem auto;
  display: flex;
  font-family: 'Josefin Slab', serif;
  box-shadow: 1px 1px 10px #b497fe73;
}

.left{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1rem 0 2.5rem;
  background: url("https://media.istockphoto.com/id/1414631365/photo/autumn-business-concept-top-view-photo-of-keyboard-computer-mouse-cup-of-coffee-on-rattan.jpg?s=612x612&w=0&k=20&c=XoCGloKsQTXofwP4KF4BzULIRIqCKZiYZb3ja4OWl5c=");
  object-fit: cover;
  object-position: left;
  color:  #8495f8;
  border-top-left-radius: 1rem;
  position: relative;
}

.left p, .left span{
  width: 200px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 0.75rem;
}

.left > div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 200px;
}

.left .social-icons{
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  gap: 0;
}

.left .icon{
  transition: all 0.5s ease-in-out;
  color: #96caff;
  font-size: 0.93rem;
}

.left .icon:hover{
  color: #7e4df9;
}

.right{
 flex: 1;
 background: aliceblue;
 font-size: 0.73rem;
 color: #8495f8;
 padding: 1rem 1rem 1rem 2.5rem;
 border-bottom-right-radius: 1rem;
}

.right .contact-form{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}


.contact-form div{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.5rem 0;
}

.contact-form label{
  font-family:  'Josefin Slab', serif;
  font-weight: 600;
}

textarea{
  width: 300px;
  height: 150px;
  outline: none;
  border: none;
  border-radius: 0.2rem;
}

input{
  width: 200px;
  padding: 0.3rem 0;
  outline: none;
}

input::placeholder, 
textarea::placeholder{
  font-size: 0.6rem;
  padding-left: 0.6rem;
  font-family:  'Josefin Slab', serif;
  font-weight: 600;
  color: #b8b7b7;
}

.right button{
  background: #8495f8c3;
  border: none;
  padding: 0.32rem 0.6rem;
  font-size: 0.63rem;
  color: aliceblue;
  margin-top: 1rem;
  border-radius: 0.2rem ;
}
