@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;600&family=Poppins:wght@100;200;300;400;500&family=Varela+Round&display=swap');

.post{
  width: 350px;
  margin: 0 25px 40px 25px;
}

.post img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 8px #bdbcbc;
}

.post-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-cat{
  font-family: 'Varela Round', sans-serif;
  color: #5f8ae7;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top: 0.5rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  margin: 0 0.5rem;
}

.post-title{
  font-size: 1.2rem;
  letter-spacing: 0.035rem;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #72c094;
}

.post-date{
  font-size: 0.58rem;
  font-family: 'Josefin Slab', sans-serif;
  color: #545353;
  font-style: italic;
  margin-top: 0.6rem;
}

.post-desc{
  font-family: 'Varela Round' , sans-serif;
  font-size: 0.7rem;
  line-height: 1.5;
  letter-spacing: 0.028rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

